@import "../../global.scss";
.menu{
    width: 30%;
    height: 100vh;
    background-color: #f6f6f6;
    position: fixed;
    top: 0;
    right: -30%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
    text-align: center;
    @include mobile{
      width: 100%;
      right: -100%;
    }

    &.active {
      right: 0;
      box-shadow: 0px 0px 0px 1500px rgba(0, 0, 0, 0.94);
      
    }

    ul{
        margin-top:4em;
        list-style:none;
        color:black;
        width: 100%;
        padding: 0 0 0 0 ;
        li {
          margin-bottom: 2.5em;
          a {
            font-size:2.5em;
            color:inherit;
            text-decoration:none;
            @include mobile {
              font-size: 1.5em;
              line-height: 1.95em;
            }
           }
          &:hover{
              font-weight:700;
              color: #0000F0;
          }
          @include mobile {
            margin-bottom:0em;
            padding-left: 0px;
          }
        
        }

    @include mobile {
      display: flex;
      flex-direction: column;
    }
 
  }

.itemContainer {
  display:none;
  // .icon,
  //  span{
  // display:none;
  // }
   
  @include mobile{
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: -1rem;
    .icon {
      font-size: 1.1rem;
      text-decoration: none;
    }
    span{
      font-size: 1rem;
      // font-weight: 500;
      //font-family: 'Forum', cursive;
      logo {
        font-weight: 700;
        font-family: 'Forum', cursive;
      }
    }
  }
}

}

    