@import "../../global.scss";
.menu{
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
    text-align: center;

    &.active {
      right: 0;
    }

    ul{
        margin-top:2em;
        padding:0;
        list-style:none;
        font-size:30px;
        color:black;
        width: 100%;

        li {
         margin-bottom:35px;
         a {
            font-size:1em;
            color:inherit;
            text-decoration:none;
           }
        
        &:hover{
            font-weight:700;
            color:#4d2ee8;
        }
        @include mobile {
          margin-bottom:0em;
        }
        
    }

    @include mobile {
      display: flex;
      flex-direction: column;
    }
 
  }

.itemContainer {
  display:none;
  // .icon,
  //  span{
  // display:none;
  // }
   
  @include mobile{
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: -1rem;
    .icon {
      font-size: 1.1rem;
      text-decoration: none;
    }
    span{
      font-size: 1rem;
      // font-weight: 500;
      //font-family: 'Forum', cursive;
      logo {
        font-weight: 700;
        font-family: 'Forum', cursive;
      }
    }
  }
}

}

    
