@import "../../global.scss";
.topbar{
    width: 100%;
    height: 90px;
    position: fixed;
    background-color:white;
    color: $mainColor;
    z-index: 3;
    top: 0;
    transition: all 0.2s ease;
    
    
    .wrapper{    
        padding: 30px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            display:flex;
            align-items:center;
            .logo{
                margin-right: 5px;
                font-size: 25px;font-weight:700;text-decoration: none; color:#4d2ee8;
            }
            .itemContainer{
                align-items: center;
                display: flex;
            
                
                .icon{
                    font-size: 15px;
                    color: #4d2ee8;
                    text-decoration: none;
                    margin-right: 5px;
                   
                }
                span{
                    font-size: 15px;
                    font-weight: 500;
                    color: #4d2ee8;
                }
            }
        }
        
        .right{
    
            .hamburger{
                width: 45px;
                height: 25px;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                span{
                    width: 100%;
                    height: 2px;
                    background-color: #4d2ee8;
                    transform-origin: left;
                    transition: all 140ms ease;
                }
            }
        }
    }

    &.active{
        background-color:#000000;
        opacity: 0.9;
        color: #4d2ee8;
        
        .hamburger{
            span{
                &:first-child {
                    background-color: #4d2ee8;
                    transform: rotate(45deg);
                  }
                  &:nth-child(2) {
                    opacity: 0;
                  }
                  &:last-child {
                    background-color: #4d2ee8;
                    transform: rotate(-45deg);
                  }
            }
        }
    }

}