@import "../../global.scss";
a {
    font-family: 'Forum', cursive;
    font-weight: 700;
    color: #000000;
}
.topbar{
    width: 100%;
    height: 100px;
    position: fixed;
    background-color:white;
    color: #000000;
    z-index: 3;
    top: 0;
    transition: all 140ms ease;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    
    .wrapper{     
        padding: 30px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            display:flex;
            align-items:center;
            .logo{
                margin-right: 5px;
                font-size: 2.5em;
                font-weight:700;
                text-decoration: none; 
            }
            .itemContainer{
                align-items: center;
                display: flex;
                @include mobile{
                    display:none;
                  }
                
                .icon{
                    
                    font-size: 0.95rem;
                    text-decoration: none;
                    margin-right: 5px;
                   
                }
                span{
                    padding-bottom: 5px;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: #000000;
                }
            }
        }
        
        .right{
            overflow: hidden;
            .hamburger{
                overflow: hidden;
                width: 47px;
                height: 1.7em;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                span{
                    width: 100%;
                    height: 2px;
                    background-color: #000000;
                    transform-origin: left;
                    transition: all 140ms ease;
                }
            }
        }
    
    }

    &.active{
        background-color:#f6f6f6;
        opacity: 0.9;
        color: #000000;
        overflow: hidden;
        
        .hamburger{
            span{
                &:first-child {
                    background-color: #000000;
                    transform: rotate(45deg);
                  }
                //   &:nth-child(2) {
                //     opacity: 0;
                //   }
                  &:last-child {
                    background-color: #000000;
                    transform: rotate(-45deg);
                  }
            }
        }
    }

}