@import "../../global.scss";

.portfolio {
  background-color: $mainColor;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: -5em 5em 0 0;
 
/*****Typography********************************/
  h1 {
    color:black;
    font-size: 2rem;
    overflow: hidden;
    padding-bottom: 40px;
    @include mobile{
      font-size: 1.8em;
    }
    @media (max-width: 775px){
      padding-bottom:20px;
   }
  }
  h3{
    font-size: 1em;
    overflow: hidden;
    font-family:'Roboto Mono';
    color:#0000F0;
    @include mobile{
      font-size: 0.9em;
    }
    @media (max-width: 775px){
     font-size: 0.8em;
   }
  }
  h5{
    overflow: hidden;
    width: 100%;
    font-size: 1em;
    font-weight: lighter;
    font-family:'Roboto Mono';
    @include mobile{
      font-size: 0.9em;
    }
    @media (max-width: 775px){
      font-size: 0.6em;
      margin-top:-3em;
      overflow: hidden;
    }
  }
  p{
    font-size: 0.8rem;
    margin:0.5em 0;
    color:  #acacac;
    font-family:'Roboto Mono';
    @include mobile{
      font-size: 0.7em;
    }
    @media (max-width: 775px){
      font-size: 0.5em;
    }
  }
  a{
    color:#0000F0;
    padding-left: 0.2em;
   font-size: 1.2em;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 0.1px #0000F0, 0 0 0.1px #0000F0, 0 0 4px #f0008c;
    @media (max-width: 775px){
      font-size: 0.95em;
    }
  }
/*****T********Layout************************/
head{
  width: 70%;
  display:flex;
  align-items: center;
  flex-direction: column;
}
main{
  width: 70%;
  height:60%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.10);
  @include mobile{
    width:80%;
    height:60%;
  }
  @media (max-width: 775px){
    width: 90%;
    overflow: hidden;
 }
    
    .left{
      flex:0.2;
      display: flex;
      flex-direction: row;
      @include mobile{
        flex:0.25;
      }
      @media (max-width: 775px){
        flex:0.25;
     }
      ul {
        width: 80%;
        padding-left:100px;
        align-items: center;
        margin:0;     

        @include mobile{
          width:80%;
          margin-left:0;
          padding: 0;
        }
        @media (max-width: 775px){
          width: 100%;
       }
      
      }
    }
    .right {
      flex:0.4;
      display:relative;
      
      @include mobile{
        flex:0.6;
        display:flex;
        justify-content: center;
      }
      @media (max-width: 775px){
        flex:0.65;
     }
      .container {
        width: 70%;
        height: 100%;
        margin-top:3em;
        margin-left:7em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 20px;
        @include mobile{
          width:80%;
          margin-top:0.8em;
         margin-left:2em;
        }
      }
    }

  }
}



