@import "../../global.scss";

.resume {
    background-color: rgb(0, 0, 0);
    display: flex;
    // flex-direction: column;
    text-align: center;
    margin:0;
    @include mobile {
      margin: 1em;
      text-align: left;
    }
/***********      Typography        **************/
  p,h2,h3,span,strong 
  {
    font-family: 'Roboto Mono';
  }
  h1 {
    margin-top:1em;
    font-size:3rem;
    color: white;  
    @include mobile {
      font-size: 2rem;
      text-align: center;
    }
    
  }

  h2{
    font-size: 1.75rem;
    color: white;
    margin-bottom: 1em;
    margin-top: 1.2em;
    
    @include mobile {
      font-size: 1rem;
      margin-bottom: 1em;
      margin-top: 1.2em;
    }

  }

  h3 {
    font-size: 1.25rem;
    color: #d0d0d0;
    font-weight: 200;

    @include mobile {
      font-size: 0.85rem;
      margin-bottom: 0.5em;
    }

  }
  
  p{
    color: #4d2ee8;
    font-style: italic;
    @include mobile {
      font-size: 0.75rem;
      margin-bottom: 1em;
    }
  }
  span{
    color: #c2c1c1;
    @include mobile {
      font-size: 0.7rem;
    }
  }

/**********************************************/
/***********      Layout        **************/
    main {
      width: 90%;
      max-width: 900px; 
     margin: 0 auto;
    }
}