@import "../../global.scss";

.resume {
    background-color: rgb(0, 0, 0);
    display: flex;
    // flex-direction: column;
    text-align: center;
    margin:0;

    @include mobile {
       margin-bottom:1em;
       height: 100%;
    }
/***********      Typography        **************/
  p,h2,h3,span,strong 
  {
    font-family: 'Roboto Mono';
  }
  h1 {
    margin-top:1em;
    font-size:3rem;
    color: white;  
    @include mobile {
      margin-top:1.5em;
      font-size: 1.3rem;
      text-align: center;
    }
    
  }

  h2{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1em;
    margin-top: 0.5em;
    
    @include mobile {
      font-size: 0.9rem;
      margin-bottom: 1em;
      margin-top: 0.2em;
    }

  }

  h3 {
    font-size: 1.25rem;
    color: #d0d0d0;
    font-weight: 200;

    @include mobile {
      font-size: 0.65rem;
      margin-bottom: 0.6em;
    }

  }
  
  p{
    color: #4d2ee8;
    font-style: italic;
    @include mobile {
      font-size: 0.75rem;
      margin-bottom: 0.5em;
    }
    ul{
      @include mobile { display: flex;flex-direction: column;padding-left:0px; margin-top: -1em;}
      li{
        a{
         
          font-size: 0.9rem;
          text-decoration: none;
          border-width: 50;
          border: 5px solid #4d2ee8;
          border-radius:60%;
          background-color:#4d2ee8;
        }
      }
    }
  }
  span{
    color: #c2c1c1;
    @include mobile {
      font-size: 0.7rem;
    }
  }
 
/**********************************************/
/***********      Layout        **************/
    main {
      width: 100%;
      height: 100%;
      //max-width: 900px; 
     //margin: 0 auto;
     overflow: hidden;
    }
    
}