@import "../../global.scss";

.letter {
  background-size: cover;
  background-color: white;
  display:flex;
  ul{
    padding-inline-start: 0px;
  }
  a{
    text-align: center;
    font-family: 'Forum', cursive;
    font-weight: 700;
    //color: #0000F0;
    background: rgba(255, 255, 255, 0.13);
    border: 1px solid #BCFF78;
    box-sizing: border-box;
    box-shadow: 3px 4px 4px rgba(170, 170, 169, 0.22);
    border-radius: 18px;
    
    span.span-link{
      margin: 20px;
      font-size: 1.8rem;
      @include mobile {
        margin: 12px;
        font-size: 1.2rem;
      }
    
    }
  }
 
  h1 {
    font-family: 'Poppins', sans-serif;
    span{
      font-family: 'Playfair Display', serif;
    }
  }
  h2{
    margin-top:2.5em;
    font-family: 'Poppins', sans-serif;
    @include mobile{
      margin-top:0.5;
    }
  }
  p{
    font-size: 1.2rem;
    @include mobile{
     font-size: 1rem;
    }
  }
  h3{
   padding: 0 0 0 0 ;
   font-size: 1.5rem;
    
   @include mobile{
     line-height: 0.75rem;
     font-size: 0.8rem;
   }
  }

  @include mobile{
    flex-direction: column;
    display: inline-block;
    margin: 0 auto;
    
  }
  
    .left{
    flex:0.3;
    margin:2em;
    overflow: hidden;
      img{
        justify-content:space-between;
        align-items: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        border-radius:1%;
        margin-top:1em;
        width:90%;
        height:70%;
        object-fit: cover;
        @include mobile{
        margin: 2em 0  0 5em;
        width:70%;
        height:50%;
        }
      }
      @include mobile{
      flex-direction:column;
      width: 100%;
      flex:1;
       padding-top: 2rem;
       font-size: 0.5rem;
       
      }
  }
  .right{
     flex:0.7;
     padding-top:1em;
     justify-content: space-between;
     margin:3em 4em 0 0;
     margin-bottom:0;
    
     h3{
       padding-bottom: 1em;
       overflow: hidden;
      @include mobile{
        font-size: 1rem;
      }
      
     }
     p{
       font-size: 1.1rem;
       display: flex;
       text-align: left;
       margin-right:5em;
       @include mobile{
        font-size: 0.8rem;
        margin-right:2em;
      }
       
     }
     footer{
      padding-top:180px;
      margin-right:4em;
      @include mobile {
        padding-top: 0px;   
        padding-bottom: 5em;
        margin-right:3em;
        
      }
      .contact{
        display: flex;
        overflow: hidden;
        float: right;

        .tel{
          flex-direction: column;
          padding-top:35px;
          @include mobile {
            padding-top:25px;
          }
         
          h3{
            line-height: 15px;
            font-size: 1rem;
        
            @include mobile {
              font-size: 0.7rem; 
              line-height:7px;
             }
          }
        }
       
         .imgContainer{
           margin: 1em;
          width:90px;
          height:90px;
          overflow: hidden;
          img{
            width: 100%;
            object-fit: cover;
          }
          @include mobile {
            width:50px;
            height:50px;
          }
        }
        span{
          padding-top:40px;
          line-height: 20px;
          @include mobile {
            font-size: 0.75rem;
            padding-top:20px;
            line-height: 13px;
          }
        }
      
       
       }
       

      }
      @include mobile{
       display:flex;
       flex-direction: column;
       padding-top:4em;
       margin:2em 0 0 4em;
       font-size: 0.5rem;
     }
      
  }
}
