@import "../../global.scss";

.letter {
  background-size: cover;
  background-color: $mainColor;
  display:flex;

  /********************TYPOGRAPHY****************************/
  ul{
    padding-inline-start: 0px;
  }
  a{
    text-align: center;
    font-family: 'Forum', cursive;
    //font-weight: 700;
    text-decoration: underline;
    box-sizing: border-box;
    color: #0000F0;
    @media (max-width: 775px){    
      overflow: hidden;
     }
    
    span.span-link{
      margin: 10px;
      font-size: 2rem;
      @include mobile {
        margin: 8px;
        font-size: 1.2rem;
      }
      @media (max-width: 775px){   
        font-size: 0.8rem;
        margin: 5px; 
        overflow: hidden;
       }
    }
  }
 
  h1 {
    font-family: 'Poppins', sans-serif;
    span{
      font-family: 'Playfair Display', serif;
    }
  }
  h2{
    margin-top:2.5em;
    font-family: 'Poppins', sans-serif;
    @include mobile{
      margin-top:0.5;
    }
    @include mobile{
      margin-top:15px;
    }
    
  }
  p{
    font-size: 1.2rem;
    @media (max-width: 775px){
      font-size: 1rem;
    }
    @media (max-width: 775px){
     font-size: 0.8rem;
    width: 80%;
    }
  }
  h3{
   padding: 0 0 0 0 ;
   font-size: 1.5rem;
   @media (max-width: 775px){
   width: 40%;
  }
    
   @include mobile{
     font-size: 1rem;
     line-height: 20px;
     overflow: hidden;
    
   }
  }
  /***********************Layout**************************/

  @include mobile{
    display : flex;
    flex-direction:row;
    margin: 0 auto;
  }
  @media (max-width: 775px){
    display: flex;
    flex-direction:column;
  }
  
    .left{
    flex:0.3;
    margin:2em;
    overflow: hidden;
    @media (max-width: 775px){
      flex:1;
    }
      img{
        justify-content:space-between;
        align-items: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        border-radius:1%;
        margin-top:1em;
        width:90%;
        height:70%;
        object-fit: cover;
        @include mobile{
        margin: 5em 0  0 0 ;
        width:100%;
        height:60%;
        }
        &:hover {
          transform: scale(1.08);
        }
        @media (max-width: 775px){
          float:right;
          margin-right:4.5em;
          margin-top: -14em;
          width:45%;
          height:90%;
        }
      }
      @include mobile{
        width: 100%;
      flex:0.35;
       padding-top: 2rem;
       font-size: 0.5rem;
      }
  }
  .right{
     flex:0.7;
     padding-top:1em;
     justify-content: space-between;
     margin:3em 4em 0 0;
     margin-bottom:0;
     @include mobile{
      flex:0.8;
      width: 100%;
      height: 100%;
     }
     @media (max-width: 775px){
     flex:1;
     width: 90%; 
    }
    
     h3{
       padding-bottom: 1em;
       overflow: hidden;
      @include mobile{
        font-size:1.22rem;
        padding-bottom: 0.5em;
      }
      @media (max-width: 775px){
        font-size: 0.8rem;
        overflow: hidden;
        width: 100%;
       }
      
      
     }
     p{
      font-family: 'Quicksand', sans-serif;
      font-weight: 500;
      width: 90%;
       font-size: 1.12rem;
       display: flex;
       text-align: left;
       margin-right:5em;
       overflow: hidden;
       margin-bottom: 7.5px;
       @include mobile{
        font-size: 1rem;
        margin-right:2em;
      }
      @media (max-width: 775px){
        margin-right:0;
        width: 95%;
        font-size: 0.9em;
        overflow: hidden;
       }

       
     }
     footer{
      padding-top:180px;
      margin-right:4em;
      @include mobile {
        padding-top: 0px;   
        padding-bottom: 5em;
        margin-right:3em;
      }
      @media (max-width: 775px){   
        //margin-top:1em ;
        padding-bottom: 0em;
        height: 30%;
        overflow: hidden;
       }
      .contact{
        display: flex;
        overflow: hidden;
        float: right;
        .tel{
          flex-direction: column;
          padding-top:35px;
          @include mobile {
            padding-top:25px;
          }
         
          h3{
            line-height: 15px;
            font-size: 1rem;
        
            @include mobile {
              font-size: 1rem; 
              line-height:13px;
             }
             @media (max-width: 775px){   
              font-size: 0.75rem; 
              line-height:9px;
             }
          }
        }
       
         .imgContainer{
           margin: 1em;
          width:90px;
          height:90px;
          overflow: hidden;
          img{
            width: 100%;
            object-fit: cover;
          }
          @include mobile {
            width:60px;
            height:90px;
          }
          @media (max-width: 775px){   
            width:50px;
            height:60px;
           }
          
         
        }
        span{
          padding-top:40px;
          line-height: 20px;
          @include mobile {
            font-size: 0.75rem;
            padding-top:20px;
            line-height: 13px;
          }
        }
      
       
       }
       

      }
      @include mobile{
       display:flex;
       flex-direction: column;
       padding-top:4em;
       margin:2em 0 0 4em;
       font-size: 0.5rem;
     }
      
  }
}
