@import "../../global.scss";

.cardbox {
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  /*******************Typography *********************************************/
  h1 {
    margin-top:3em;
    font-size: 2rem;
    overflow: hidden;
    padding-top:40px;
    @include mobile{
      font-size: 1.5em;
    }
  }
  h5 {
    font-family: 'Forum';
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: -1em;
    @include mobile{
      font-size: 1rem;
     
    }
    
  }
  p{
    font-family: 'Forum';
    font-size: 0.75rem;
    margin: 1em;
    @include mobile{
      font-size: 0.7rem;
     
    }

  }
  span{
    margin-top: -2.5em;
    line-height:20px;
    font-family: 'Forum';
    font-size: 0.8em;
    text-align:center;
    font-weight:bolder;
    padding-left: 20px;
    padding-right: 20px;
    @include mobile{
      font-size: 0.6em;
      margin-top: -6em;
    }
    @media (max-width: 775px){
      font-size: 0.8em;
      margin-top: -4em;
    }
  }
  /****************************************************************/
  
    .container {
        width:70%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom:1em;

  
      @include mobile{
        width: 100%;
        height: 100%;
      }


        .item {
          padding-top: 3em;
          box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
          background-color:rgb(238, 238, 238);
          width: 350px;
          height: 250px;
          border-radius:1%;
          margin: 10px 20px;
          display: flex;
          align-items: center;
          flex-direction: column;
          color: black;
          position: relative;
          transition: all .1s ease;
          cursor: pointer;
          overflow: hidden;
          
         
    
          @include mobile{
            width: 35%;
            height: 23%;
            
          }
          @media (max-width: 775px){
            width: 70%;
            height: 40%;
          }
          &:hover {
            background-color: black;
            color: rgb(238, 238, 238);
            transform: scale(1.07);
            
           
            img {
              opacity: 0.2;
              z-index: 0;
            }
          }
        }
    }

}




