@import "../../global.scss";
.works{
  background:black;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;

  .arrow{
    height: 70px;
    position:absolute;
    cursor: pointer;

    @include mobile{
     display:none;
    }

    &.left {
      left: 270px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 270px;
    }
  }

  .slider{
    height: 550px;
    display: flex;
    position:absolute;
    left:0;
    transition:all 1s ease-out;

    @include mobile{
      height: 100vh;
      flex-direction:column;
      justify-content: center;
     
     }
      .container{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        .item{
          width: 1100px;
          height: 100%;
          background: radial-gradient(50% 50% at 50% 50%, rgba(235, 255, 0, 0.2) 0%, rgba(0, 163, 255, 0.162) 100%), radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 133, 0.1728) 0%, rgba(141, 255, 239, 0.1344) 73.96%, rgba(230, 79, 255, 0.1536) 100%), linear-gradient(180deg, #EED9FF 0%, #F366FF 100%);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          border-radius:20px;
          display: flex;
          align-items: center;
          justify-content: center;

          @include mobile{
            width: 90%;
            height: 220px;
            margin: 10px 0;
           }

          .left{
            flex:8;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .leftContainer{
              padding-left: 30px;;
              width: 90%;
              height: 70%;
              display: flex;
              flex-direction: column;
              justify-content:space-between;

              .imgContainer{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content:center;

                @include mobile {
                  width: 20px;
                  height: 20px;
                }

              }
              img{
                width: 25px;
                @include mobile {
                  width: 15px;
                }
               
              }
              h2{
                font-size:96px;
                color: #ADFFBF;
                text-shadow: 0px 4px 4px rgba(255, 0, 122, 0.25);
                @include mobile {
                  font-size:13px;
                }
              }
              p{
                font-size:15px;
                @include mobile {
                  display:none;
                }
              }
              span{
                font-size:13px;
                font-weight:bold;
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
          .right{
            flex:4;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
              width: 400px;
              transform: rotate(-10deg);
              overflow: hidden;
            }
          }
        }
      }

  }
}