@import "../../global.scss";
.intro{
  background-size: cover;
  background-color: white;
  display:flex;
  flex-direction: column;
  // margin:1em auto;
  overflow: hidden;
  /***********      Typography        **************/
  h1{
    font-size:2.5rem;
    font-weight: 800;
    
    @include mobile{
    overflow: hidden;
     font-size: 2rem;
    }
  }
  h2{
    margin-top: 1em;
    font-size: 1.85rem;
    font-weight: 500;
    @include mobile{
      overflow: hidden;
      font-size: 1.5rem;
     }
  }
  h3{
    font-size:1.4rem;
    font-weight: 300;
    @include mobile{
      text-align: center;
      font-size: 1.1rem;
     }
    }
  p{
    text-align: center;
    @include mobile{
    
      font-size: 1rem;
     }
  }
  a{
    position:absolute;
    bottom:10px;
    left:70%;  
  }

  @include mobile{
    flex-direction: column;
    align-items: center;
  }

/**********************************************/
/***********      Layout        **************/

  .wrapper{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    
    @include mobile{
      width: 90%;
      padding:0.5em;
      // margin:1em auto;
      align-items: center;
      padding-left:0;
    }
    .imgContainer{
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
      width: 500px;
      height: 500px;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      background-size: cover;
      display:flex;
      align-items:center;
      justify-content:center;
  
      @include mobile{
        height: 50%;
        align-items:center;
      }
  
      img{
        height: 100%;
        object-fit: cover;

        @include mobile{
          height: 100%;
        }
      }
  
    }
    
  }

}



/********************************************/

  // img{
  //   animation:arrowBlink 2s infinite;
  // }
  // @keyframes arrowBlink{
  //   100%{
  //     opacity: 0.2;
  //   }
  // }
  // .left{ 
    // flex:0.6;
    // overflow:hidden;

  // }
  // .right{
  //   flex:0.4;
  //   display:relative;



  //}