@import "../../global.scss";
.intro{
  //background-image: url(https://images.unsplash.com/photo-1552083940-86877723de7a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-color: white;
  display:flex;
  @include mobile{
    flex-direction: column;
    align-items: center;
  }

  .left{ 
    flex:0.5;
    overflow:hidden;
    
    .imgContainer{
      width: 900px;
      height: 900px;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      background-size: cover;
      border-radius:50%;
      display:flex;
      align-items:flex-end;
      justify-content:center;
      float:right;
      @include mobile{
        align-items:flex-start;
      }


      img{
        height: 98%;
        @include mobile{
          height: 50%;
        }
      }

    }

  }
  .right{
    flex:0.5;
    display:relative;

    .wrapper{
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display:flex;
      justify-content:center;
      flex-direction: column;
      color: #4d2ee8;

      @include mobile{
        align-items: center;
        padding-left:0;
      }

    }
    h1{
      font-size:60px;
      margin: 10px 0 ;
      @include mobile{
       font-size: 40px;
      }
    }
    h2{
      font-size: 35px;
      @include mobile{
        font-size: 20px;
       }
    }
    h3{
      font-size:26px;
      span{
        font-size:inherit;
        color: #f7101b;
      }
    }
    a{
      position:absolute;
      bottom:10px;
      left:70%;  
    }
    img{
      animation:arrowBlink 2s infinite;
    }
    @keyframes arrowBlink{
      100%{
        opacity: 0.2;
      }
    }


  }
}