.dir{
  background-size: cover;
  background-color: white;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  h1{
    margin:1.75em;
  }
        .cardContainer {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
          }
    
          .one {
            width: 31%;
            height: 250px;
            margin: 0.5em;
            border: 1px solid black;
            
          }
    
          .two {
            width: 31%;
            height: 250px;
            margin: 0.5em;
            border: 1px solid black;
           
          }
    
          .three {
            width: 31%;
            height: 250px;
            margin: 0.5em;
            border: 1px solid black;
            
          }
}